version: 2
updates:
  - package-ecosystem: cargo
    directory: /rust
    schedule:
      interval: monthly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
